body {
  background-color: gray;
}
.card {
  padding: 2rem;
  margin: 3rem auto;
  width: 40rem;
  height: auto;
  background-color: whitesmoke;
  text-align: center;
}
table {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
}
tr,
th,
td {
  border: 1px solid gray;
  padding: 10px;
}
.deleteBtn {
  padding: 5px 10px;
  background-color: gainsboro;
  border-radius: 5px;
}
.deleteBtn:hover {
  box-shadow: 2px 2px 10px gray;
}
.editBtnDiv {
  display: flex;
  flex-direction: row;
}

input,
button {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 3px 7px;
}
input {
  width: 30%;
}
button {
  padding: 5px 20px;
}
button:hover {
  background-color: lightgrey;
  cursor: pointer;
}
hr {
  margin: 2rem auto;
  width: 25vw;
  height: 1px;
  border: 1px solid black;
}
.cardViewer {
  display: grid;
  align-items: center;
  height: 30vh;
  width: 60%;
  border: 2px solid black;
  margin: 2rem auto;
}
